<ng-container *ngIf="data$ | async as data">
  <mat-chip-listbox
  [ngClass]="{'group-pill mat-mdc-chip-set-stacked': true}"
                    aria-label="Color selection"
                    cdkDropList
                    (cdkDropListDropped)="drop($event)">
    <mat-chip *ngFor="let item of data.items" (removed)="remove(item, data)" cdkDrag>
      {{item.label}}
      <button matChipRemove [attr.aria-label]="'remove'">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-listbox>
</ng-container>
