<mat-sidenav-container [ngClass]="{'section' : true}">
    <mat-sidenav [ngClass]="{'section__filter' : true}" [opened]="(filterSectionStatus$ | async)! == SectionStatus.opened" mode="side">
      <ng-content select="[section_filter]"></ng-content>
    </mat-sidenav>
    
    <app-selected-filter-list *ngIf="(filterSectionStatus$ | async)! == SectionStatus.opened">
    </app-selected-filter-list>
  
    <ng-content select="[section_content]"></ng-content>
  
    <mat-sidenav [ngClass]="{'section__action' : true}" [opened]="(actionSectionStatus$ | async)! == SectionStatus.opened" mode="side" position="end">
      <ng-content select="[section_action]"></ng-content>
    </mat-sidenav>
  
  </mat-sidenav-container>