:host ::ng-deep .mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}

.tab-menu-container {
  padding: 0 5rem 5rem;

  gap: 5rem;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  &__tabs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}