<!-- <div [ngClass]="{'tab-menu-container': true}">
    <mat-tab-group [ngClass]="{'tab-menu-container__tabs': true}" mat-stretch-tabs="true" mat-align-tabs="start" (selectedIndexChange)="tabChange($event)">
        <mat-tab *ngFor="let item of grid">
            <ng-template mat-tab-label>
                {{item.label}}
            </ng-template>

            <div [ngStyle]="{'grid-template-areas': item.pattern}" [ngClass]="{'tab-menu-container__content': true}">
                <div *ngFor="let component of item.components" [ngStyle]="{'grid-area': component.gridName}" (click)="focus(component.component)">
                    <ng-template [ngComponentOutlet]="component.component"></ng-template>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div> -->

<div [ngClass]="{'tab-menu-container': true}">
    <ng-container
        [ngTemplateOutlet]="tabs"
        [ngTemplateOutletContext]="{items: grid}">
    </ng-container>
</div>

<ng-template #tabs let-items='items'>
    <mat-tab-group [ngClass]="{'tab-menu-container__tabs': true}" mat-stretch-tabs="true" mat-align-tabs="start" (selectedIndexChange)="tabChange($event)">
        <mat-tab *ngFor="let item of items">
            <ng-template mat-tab-label>
                {{item.label}}
            </ng-template>

            <ng-container *ngIf="true">
                <div [ngStyle]="{'grid-template-areas': item.pattern}" [ngClass]="{'tab-menu-container__content': true}">
                    <div *ngFor="let component of item.components" [ngStyle]="{'grid-area': component.gridName}">
                        <ng-template [ngComponentOutlet]="component.component"></ng-template>
                    </div>
                </div>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<!-- <ng-container
        [ngTemplateOutlet]="section"
        [ngTemplateOutletContext]="{items: data.items}">
    </ng-container>

<ng-template #section let-items='items'>
<div *ngFor="let item of items">
    <div [ngClass]="{'hawk-legend__header': true}"
        *ngIf="item.headerTextConfigId">
    <ng-container *ngIf="item.headerTextData; else no_data">
        <hawk-text
        [config$]="config.predefinedTextConfig![item.headerTextConfigId!] | asObservable"
        [data$]="item.headerTextData | asObservable">
        </hawk-text>
    </ng-container>

    <ng-template #no_data>
        <hawk-text
        [ngClass]="{'hawk-legend__header': true}"
        [config$]="config.predefinedTextConfig![item.headerTextConfigId!] | asObservable">
        </hawk-text>
    </ng-template>
    </div>

    <div
    [ngClass]="{'hawk-legend__item': true}"
    *ngIf="item.textConfigId">

    <hawk-icon
        [config$]="config.predefinedIconConfig![item.iconConfigId] | asObservable"
        *ngIf="item.iconConfigId">
    </hawk-icon>

    <hawk-pill
        [config$]="config.predefinedPillConfig![item.pillConfigId] | asObservable"
        [data$]="item.pillData | asObservable"
        *ngIf="item.pillConfigId && item.pillData">
    </hawk-pill>

    <ng-container *ngIf="item.textData; else no_data">
    <hawk-text
        [config$]="config.predefinedTextConfig![item.textConfigId!] | asObservable"
        [data$]="item.textData | asObservable">
    </hawk-text>
    </ng-container>

    <ng-template #no_data>
        <hawk-text
        [config$]="config.predefinedTextConfig![item.textConfigId!] | asObservable">
        </hawk-text>
    </ng-template>
    </div>

    <ng-container
    [ngTemplateOutlet]="section"
    [ngTemplateOutletContext]="{items: item.items}">
    </ng-container>
</div>
</ng-template> -->